*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  height: 100vh;
}

/*General*/
.box {
  width: 85%;
  max-width: 1500px;
}

/*Navigation*/
#hamburger img {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 2.5em;
  z-index: 2;
}

/*First Section*/
.primary-section {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.primary-section .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.primary-section div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.primary-section::before {
  content: "";
  position: absolute;
  right: -75px;
  bottom: -75px;
  width: 150px;
  height: 150px;
  background: #e2dd59;
  border-radius: 50%;
}

.primary-section img {
  width: 70%;
  max-width: 806px;
  border-radius: 30px;
  box-shadow: 4px 4px 10px rgb(0, 0, 0, 37%);
}

.primary-section h1 {
  padding: 45px 0 30px 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 48px;
  color: #323330;
}

.primary-section p {
  width: 80%;
  max-width: 417px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #5a5a5a;
}

.primary-section button {
  margin-top: 60px;
  display: inline-block;
  width: 130px;
  height: 48px;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 500;
  color: #323330;
  text-transform: uppercase;
  background: #f0db4f;
  border: none;
  border-radius: 12px;
  box-shadow: 0 3px 2px rgb(0, 0, 0, 61%);
  transition: 0.25s ease-in-out;
  cursor: pointer;
}

.primary-section button:hover,
.primary-section button:focus {
  opacity: 0.9;
  transform: translatey(-3px);
  box-shadow: 0 6px 2px rgb(0, 0, 0, 50%);
}

.primary-section svg {
  margin-top: 80px;
}

/*Second-Section*/
.second-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.second-section::before {
  content: "";
  position: absolute;
  bottom: -75px;
  left: -75px;
  width: 150px;
  height: 150px;
  background: #323330;
  border-radius: 50%;
}

.second-section h2 {
  font-family: "Poppins", sans-serif;
  font-size: 35px;
  font-weight: 500;
  color: #323330;
}

.boxes {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2em;
  margin-top: 3em;
  justify-items: center;
}

.boxes div {
  width: 220px;
  height: 142px;
  box-shadow: 0 0 18px rgb(0, 0, 0, 16%);
  border-radius: 25px;
}

.boxes h3 {
  font-family: "Poppins", sans-serif;
  font-size: 23px;
  font-weight: 500;
  color: #5a5a5a;
}

/*Tutorials*/
.tutorials {
  position: relative;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  grid-template-areas:
    "title title"
    "tutorials-box tutorials-box"
    "tutorials-box tutorials-box";
}

.tutorials h2 {
  grid-area: title;
  font-family: "Poppins", sans-serif;
  font-size: 35px;
  font-weight: 500;
  color: #323330;
}

.tutorials iframe {
  position: relative;
  width: 80%;
  max-width: 400px;
  height: 30vh;
  border-radius: 25px;
}

.iframe1 {
  margin-bottom: 3em;
}

.tutorials .box {
  grid-area: tutorials-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.tutorials::before {
  content: "End";
  position: absolute;
  bottom: 0;
  right: 0;
  display: none;
  padding: 50px 0 0 45px;
  width: 125px;
  height: 125px;
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: 500;
  color: #323330;
  background: #e2dd59;
  border-radius: 125px 0 0 0;
}

/*Media*/

@media only screen and (max-width: 380px) {
  .primary-section::before,
  .second-section::before {
    display: none;
  }

  .primary-section,
  .second-section,
  .tutorials {
    height: auto;
  }

  .tutorials,
  .primary-section {
    margin-top: 2em;
  }

  .tutorials iframe {
    margin: 2em;
  }

  .primary-section svg {
    margin: 40px 0;
  }
}

@media only screen and (min-width: 550px) {
  .primary-section img {
    max-width: 450px;
  }

  .primary-section h1 {
    font-size: 55px;
  }

  .primary-section p {
    font-size: 20px;
  }

  .primary-section button {
    width: 150px;
    height: 58px;
  }

  .boxes {
    grid-template-columns: repeat(2, 1fr);
    gap: 5em;
    margin-top: 10em;
  }

  .second-section h2,
  .tutorials h2 {
    font-size: 40px;
  }
}

@media only screen and (min-width: 1000px) {
  #hamburger img {
    top: 40px;
    right: 60px;
  }

  .primary-section .box {
    flex-direction: row;
    justify-content: space-around;
    text-align: start;
  }

  .primary-section img {
    margin-right: 5em;
  }

  .primary-section .text {
    align-items: flex-start;
  }

  .primary-section svg {
    display: none;
  }

  .tutorials {
    grid-template-areas:
      "title title"
      "tutorials-box tutorials-box"
      "tutorials-box tutorials-box";
  }

  .tutorials .box {
    flex-direction: row;
    max-width: 1200px;
  }

  .tutorials::before {
    display: block;
  }

  .iframe1 {
    margin-bottom: 0;
  }
}
